[dir="rtl"] .contact-content a i{
     margin-left: 20px;
}
[dir="ltr"] .contact-content a i{
     margin-right: 20px;
}
[dir="ltr"]  .card-blog{
     text-align: left;
}
[dir="rtl"] .link-plas{
     text-align: left;
}
[dir="rtl"] .btn-btn .span-i,[dir="rtl"] .btn-btn {

     border-radius: 47px 0 0 47px;

}
[dir="ltr"] .btn-btn .span-i,[dir="ltr"] .btn-btn{

     border-radius: 0px 47px 47px 0px;

}
[dir="ltr"] .btn-btn .span-i i {
     transform: rotate(183deg);
}
[dir="ltr"] .link-plas{
     text-align: right;
}

[dir="rtl"] .img-blog-date::after{
     right: 5%;
}
[dir="ltr"] .img-blog-date::after{
     left: 5%;
}
[dir="rtl"] .content-slider-articles .owl-articles .owl-nav {
     left:-27%
      }
      [dir="ltr"] .content-slider-articles .owl-articles .owl-nav {
          right:-27%
           }

@media (max-width: 768px){
     [dir="ltr"] .content-slider-articles .owl-articles .owl-nav {
          right: -3%;
      }


}
[dir="rtl"] .f-img{
    text-align:
    left;

}
[dir="ltr"] .f-img{

text-align: right;
}
[dir="rtl"] .owl-articles .owl-nav {
     left: 8%;

}
[dir="ltr"] .owl-articles .owl-nav {
     right: 8%;

}
[dir="ltr"] .time-blog-detalies .text-start{
     text-align: right !important;
}
@media (max-width:350px) {

     .owl-articles .owl-nav {
top:-18%

     }
}
@media (min-width:990px) {
     [dir="ltr"] .social-footer{
          margin-left: 6rem;
     }
     [dir="rtl"] .social-footer{
          margin-right: 6rem;
     }
     [dir="rtl"] .colemail{
          padding-right: 18%;
     }
     [dir="ltr"] .colemail{
          padding-left: 8%;
     }
     [dir="ltr"] .col-contact-hader{
          padding-left: 10%;
     }
     [dir="rtl"] .component-serves{
padding-right: 42px;
     }
     [dir="ltr"] .component-serves{
          padding-left: 42px;
               }
}
@media (min-width:1000px) and (max-width: 1024px){
     [dir="rtl"] .colemail {
          padding-right: 9%;
      }
      [dir="ltr"] .colemail {
          padding-left: 9%;
      }
}

