@font-face{
     src:url(../fonts/Tajawal/Tajawal-Bold.ttf);
     font-family: Tajawal;
     font-weight: 700;
}
@font-face{
     src:url(../fonts/Tajawal/Tajawal-Regular.ttf);
     font-family: Tajawal;
     font-weight: 400;
}
@font-face{
     src:url(../fonts/Tajawal/Tajawal-Medium.ttf);
     font-family: Tajawal;
     font-weight: 500;
}
@font-face{
     src:url(../fonts/Tajawal/Tajawal-Light.ttf);
     font-family: Tajawal;
     font-weight: 300;
}
@font-face{
     src:url(../fonts/Tajawal/Tajawal-ExtraBold.ttf);
     font-family: Tajawal;
     font-weight: 800;
}

body{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
    /*[dir="rtl"] body{*/
    /*     font-family: 'Tajawal', sans-serif;*/
    /*}*/
/*[dir="ltr"] body{*/
/*     font-family: 'Tajawal', sans-serif;*/
/*}*/
h1,h2,h3,h4,h5,h6{
     margin: 0px;
     padding: 0px;
}
ul,ol{
     padding-inline-start: 0px;
     padding-left: 0px;
}
a:hover,a{
     text-decoration: none;
}
ul li{
     list-style: none;
}
/*title-web*/
.title-footer,.title-footer-i{

     color: #414042;

     font-weight: 700;
     line-height: 33px;
     text-transform: capitalize;
     position: relative;
}
.title-footer{
     font-size: 35px;
}
.title-footer-i{
     font-size: 35px;
}
[dir="ltr"] .link-lengeth{
text-align: right !important;
}
@media (min-width:1000px) and (max-width: 1024px){
     .title-footer-i{
          font-size: 30px;
     }

}
@media (max-width: 768px){
     [dir="ltr"] .title-footer-i{
          font-size: 18px;
     }
}
.title-footer::before,.link-plas::before,.title-footer-i::before{
     content:"";
     position: absolute;
     border-bottom: 2px solid #D8B76F;

     bottom: -6px;

}
.title-footer-i::before{
     bottom:-15px
}
.title-footer::before{
     width: 59px;
     height: 5px;
     bottom: -16px;
}
.link-plas::before{
     height: 3px;
     width: 67px;
     bottom: -3px;
     border-bottom: 1px solid #D8B76F;
}
.title-footer-i::before{
     height: 3px;
     width: 33px;
}
.link-plas:hover{
     color: #D8B76F;
}
.title-whit,.hade-title-blog{
     color: #FFFFFF;
     font-size: 28px;
     font-weight:bold ;
     text-transform: capitalize;
     line-height: 40px;
}
.title-hadeer{
     color: #414042;
     font-size: 35px;
     font-weight:bold ;
     text-transform: capitalize;
     line-height: 40px;
     position: relative;
}
.title-hadeer::before{
     content:"";
     position: absolute;
     border-bottom: 2px solid #414042;
     width: 50px;
     height: 5px;
     bottom: -13px;

}
.title-hadeer-s::before{
     content:"";
     position: absolute;
     border-bottom: 2px solid #D8B76F;
     width: 50px;
     height: 5px;
     bottom: -6px;
     right: 48%;
}
.title-hadeer-jop::before{
     content:"";
     position: absolute;
     border-bottom: 2px solid #D8B76F;
     width: 50px;
     height: 5px;
     bottom: -6px;
}
.link-lengeth{
     padding-bottom: 5px;
}
@media (max-width:550px) {
     .title-whit,.hade-title-blog{

          font-size: 20px;

     }
     [dir="ltr"] .title-whit,[dir="ltr"] .hade-title-blog {
          font-size: 15px;
     }
}
.navbar-toggler:focus {

     box-shadow: transparent !important;
     box-shadow:0 0 0 0 !important;
}
/*end-title-web*/
/*p-defintion*/
.defintion-p{
     color: #414042;
     font-size: 25px;
     font-weight: 500;
     line-height: 33px;
     text-transform: capitalize;
}
/*end-p-defintion*/
/*start-nav*/
.nav-top{
     background-color: #FDFFFF;
}
.col-contact-hader .contact-content a{
border-bottom: 0px !important;
}
.logo-hader{
     width: 70%;
     max-height: 100px;
     height: auto;
}
.link-lengeth a{
     background-color: #D8B76F;
     color: #414042;
     font-size: 16px;
     font-weight: 500;
     line-height: 30px;
     padding: 10px 20px;
     border-radius: 11px;
     text-transform: capitalize;

}
@media (min-width:1024px) {
     .link-lengeth a{
     padding: 10px 16px;
}
[dir="ltr"] .btn-btn {
     font-size: 15px;
}
}
.link-lengeth a:hover{
     background-color: #fff;
     box-shadow: 0px 3px 11px #00000029;
}
@media (max-width:550px) {
     .row-nav-content{
margin-bottom: 20px;
     }
     .logo-hader {
width: 100%;
     }
}
/*nav-tow*/
.navber-index{
     background-color: #D8B76F;
     padding: 0px;
}
.navber-index .navbar-nav .nav-link{
     color: #414042;
     font-size:19px ;
     font-weight: 400;
     text-transform: capitalize;
     line-height: 30px;
     margin: 0px 10px;
     position: relative;
     padding-top: 10px;
    padding-bottom: 10px;
}

 @media (min-width:1100px) {
     .navber-index .navbar-nav .nav-item:not(:first-child):after {
          content:' |';
          position: absolute;
          top: 23%;
      }

 }
.navbar-nav .active {
     color: #D8B76F;
     /*background-color: #fff;*/
     /*padding: 0px 10px;*/
     font-weight: bold;
}
.navbar-nav .nav-item >.active{
     background-color: #fff;
     border-radius: 10px;
     padding: 10px;
}

/*end-nav-tow*/
/*end-nav*/

/*footer*/
.component-footer{
     background-image: url(../images/footer.svg);
     background-repeat: repeat;
     background-size: cover;

}
@media (max-width:768px){
     .component-footer{
          background-image: url(../images/Splatter.png);
     background-repeat: repeat;
     background-size: cover;

}


}
.ul-servies li{
     list-style-image: url('../images/ul-pth.png');
}
.ul-servies li a,.contact-content a{
     color: #414042;
     font-size: 19px;
     font-weight: 500;
     line-height: 30px;
     text-transform: capitalize;
     border-bottom: 1px solid #ACADAD;


}
@media (max-width:768px){
     .contact-content a{
font-size: 14px;
     }
}
@media (min-width: 768px){
     [dir="rtl"] .title-whit{
          padding-left: 0px !important;

     }
     [dir="ltr"] .title-whit{
          padding-right: 0px !important;

     }
     .title-whit{
          font-size: 23px;
     }
     .p-vision {
          height: calc(12* 1.45em);
     }
     [dir="ltr"] .p-vision {
          height: calc(15* 1.45em);
     }
}
.ul-servies li a:hover{
     color: #D8B76F;
     border-bottom: 1px solid #D8B76F;
}
.img-footer img{
     width: 100%;

     margin: auto;
     height: auto;
}
@media (max-width:550px) {
     .img-footer img{
          width: 100%;
          margin: auto;
          height: auto;
     }
}
.title-follow{
     color:#414042 ;
     font-size:16px ;
     font-weight:400 ;
     text-transform: capitalize;
     line-height: 30px;
     position: relative;
}
.title-follow::after{
     content: "";
     width: 38%;
     height: 2px;
     background-color: #707070;
     position: absolute;
     top: 50%;
     left: 0px;
}
.title-follow::before{
     content: "";
     width: 38%;
     height: 2px;
     background-color: #707070;
     position: absolute;
     top: 50%;
     right: 0px;
}
[dir="ltr"] .title-follow::before{
     right: -17px;
}
[dir="ltr"] .title-follow::after{
     left: -17px;
}
.Social-Media .item-social{
     width: 38px;
     height: 38px;
     border-radius: 50%;
     border: 1px solid #707070;
     background-color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
}
.Social-Media a{
     color: #414042;
     font-size: 20px;
     line-height: 16px;

}
.contact-content a i{
color: #D8B76F;
font-size: 16px;


}
.component-copy{
     background-color: #414042;
     font-size: 16px;
     font-weight: 700;
     line-height: 40px;
     text-transform:capitalize ;
     color: #FFFFFF;
}
.item-social:hover{
     box-shadow: 0px 3px 6px #00000036;
     border: 0px;
}
.item-social a:hover{
color: #D8B76F;
}
/*end-footer*/
/*index*/
.img-slid{
     height: auto;
     filter: grayscale(100%);

}
.img-logo-slid{
     position: absolute;
     top: 13%;
     width: 300px;
     height: 433px;
     left: 5%;
}
.over-slid{
     position: absolute;
     width: 100%;
     height: 100%;
     top:0px;
     background-color: #000000ad;
}
.card-vision{
     border: 0px;

}
.img-vision{
     width: 100%;
     height: 314px;
     border: 0px;
     filter: grayscale(100%);
}
.col-img-massege{
     position: relative;
}

.col-img-massege::before{
     content: "";
     position: absolute;
     top: -14px;
     width: 125px;
     height: 114px;
     margin-right: 3px;
     background-image: url(../images/Subtraction.png);
     /* transform: rotate(180deg); */
     left: 0px;
}
.col-img-vis{
     position: relative;
}
[dir="ltr"] .col-img-vis{
     padding-left: 0px !important;
     padding-right:3rem !important ;
}
.col-img-vis::before{
     content: "";
     position: absolute;
     bottom: -14px;
     width: 125px;
     height: 114px;
     margin-right: 3px;
     background-image: url(../images/Subtraction.png);
     transform: rotate(180deg);
     right: 0px;
}
[dir="ltr"] .col-img-vis::before {
right: 29px;
}
@media(min-width:1000px) and (max-width:1024px) {
     .col-img-vis::before {

          bottom: 36px;
}
}
@media (max-width:768px){
     [dir="ltr"] .col-img-vis::before {
          bottom: 37%;
      }
      [dir="rtl"] .col-img-vis::before {

          bottom: 22%;
      }
}
@media (max-width: 550px){
     [dir="ltr"] .col-img-vis::before {
          bottom: -8%;
      }
}

.card-vision .card-body{
     background-color: #fff;
     position: relative;
     top: -120px;
     margin: 10px 20px;
     padding-top: 25px;
}
@media (min-width:990px) {
     [dir="rtl"] .card-vision .card-body{
          padding-right: 25px;
}
          [dir="ltr"] .card-vision .card-body{
               padding-left: 25px;
               }
}

.link-plas{
     color: #D8B76F;
     font-size: 16px;
     font-weight: 500;
     line-height: 32px;
 position: relative;
 text-transform: capitalize
}
.p-vision{
     color:#414042 ;
     font-weight: 400;
     /*line-height: 29px;*/
     font-size: 20px;

}
@media (min-width:1200px) {
     .p-vision{
          height: calc(5* 1.45em) !important;

     }
     [dir="ltr"] .p-vision{
          height: calc(8* 1.45em) !important;

     }
}
@media (min-width:1000px) and (max-width: 1024px){
     .p-vision{
          height: calc(5* 1.45em);

     }
     [dir="ltr"] .p-vision{
          height: calc(10* 1.45em);

     }
     .contact-content a {
          font-size: 15px !important;

     }
}
.carousel-slider .carousel-caption {
top:9%;
bottom: unset;

}
@media (min-width: 1399.98px) {
     .carousel-slider .carousel-caption {
          top:15%;

     }
 }

.item-services-slider{
position: absolute;
top:43%;
width: 100%;
}
.carousel-slider .carousel-caption h5{
     color: #D8B76F;
     font-size: 36px;
     line-height: 47px;
     font-weight: 600;
     margin: auto;
     text-transform: uppercase;
}
.carousel-slider .carousel-caption p{
color: #FFFFFF;
font-size: 26px;
line-height: 40px;
text-transform: capitalize;
font-weight: 500;
}
[dir="ltr"] .carousel-slider .carousel-caption p{
     font-size: 15px;

}
.carousel-control-next, .carousel-control-prev{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     opacity: 1;
     top: 27%;


}
.carousel-control-next{
     right:25%
}
.carousel-control-prev{
     left: 25%;
}
.carousel-control-next-icon {
     color: #000;
     background-image: url(../images/Icon-circle.png);
}
.carousel-control-prev-icon {
     background-image: url(../images/Icon-left.png);

}
.col-link-s{
     background-image: url(../images/Subtractio.png);
     background-repeat: no-repeat;
     transition: 0.2s  ease-out;
     border-radius: 5px;
     padding-top: 20px;
     justify-content: center;
     align-items: center;
     margin-bottom:2rem;
     position: relative;
     transition: all .5s ease-in-out;
     padding-bottom: 19px;
}
.col-link-s:hover{
     background-image:url(../images/Subtraction-t.png);
     background-repeat: no-repeat;
    max-height: fit-content;
    height: 87%;
    transition: all 0.2s;

}
.col-servese{
     position: relative;
}

.col-link-s a{
     color: #414042;
     line-height: 26px;
     font-weight: 600;
     font-size:15px;
}
[dir="ltr"] .col-link-s a{
     font-size:12px;
}
.span-mor{
color: #D8B76F;
display: block;
font-size: 13px;
line-height: 18px;
text-transform: capitalize;
text-decoration: underline;
text-decoration-color: #D8B76F;
transition: all .5s ease-in-out;
transform: translateY(-4px);
position: absolute;
    opacity: 1;
visibility: hidden;
text-align: center;
    width: 100%;
    z-index: 5;
}
.col-link-s:hover .span-mor{
     visibility: visible;

}
.img-top{
     position: absolute;
    left: 20%;
    top: -23%;
    z-index: 1;

}
.col-defintion{
     padding: 7px;
}
@media (min-width:1200px) and (min-width:1440px) {
     .img-top{
          left: 17%;
     }
}
@media (min-width:768px) and (max-width:1300px) {
     .img-top{
          left: 24%;
          top: -29%;
     }
}
     @media (min-width:660px) and (max-width:768px) {
          .img-top{
               left: 21%;
          top: -29%;
     }
     .col-link-s {
margin-bottom: 1.2rem;
padding-bottom: 9px;
padding-top: 15px;
     }
     .img-logo-slid {
            top: 12%;

          height: 300px;
          left: -1%;
      }
}
@media (max-width:550px) {
     .img-top{
          left: 16%;
     }
}
@media (max-width: 425px){
     .img-top {
          left: 14%;
     }
}
@media (max-width: 375px){
     .img-top {
          left: 16%;
      }
}

@media (max-width:350px){
     .img-top{
          left: 18%;
     }
}

.img-top img{
     width: 55px;
     height: auto;
}
.link-ether a{
     border: 1px solid #D8B76F;
     color: #D8B76F;
     font-size: 19px;
     font-weight: 500;
     line-height: 26px;
     padding: 8px 20px;
}
.link-ether a:hover{
     background-color: #2D2D2D;
     border: 0px;
}
.link-ether a img{
     width: 16px;
     height: 17px;
}
.compoent-price-hadder .dropdown-menu{
     background-color: #5E5C64;
     padding-top: 29px;
     z-index: 112;
     margin-top: 10px;
 }


[dir="ltr"] .compoent-price-hadder .dropdown-menu{

     border-radius: 0px 0 47px 0px;
}
[dir="rtl"] .compoent-price-hadder .dropdown-menu{

     border-radius: 0px 0 0 47px;
}
@media (min-width: 992px){
     .compoent-price-hadder .dropdown-menu{
          width: 100% !important;
     }
}
.form-index-form .form-control{
     background-color: #ffffff30;
     border: 0px;
     color: #fff;
     font-size: 16px;
     font-weight: 400px;
     border-radius: 19px;
}
.form-index-form .form-control::placeholder{
     color: #ACADAD;
     font-weight: bold;
     font-size: 14px;
     line-height: 19px;
     text-transform: capitalize;
}
.compoent-price-hadder{
     position: absolute;
     width: 100%;
     top:12%;
}
@media (max-width:550px) {
     .compoent-price-hadder{

          top:29%;
     }

}
.form-index-form .btn-submit{
     font-size: 16px;
}
.btn-btn{
     background-color:#5E5C64;

     color:#D8B76F ;
     font-size: 16px;
     font-weight: bold;
     padding: 0px;
     border: 0px;
}
.btn-btn .span-i{
  padding: 11px;
     background-color: #D8B76F;
     color: #5E5C64;

}
.btn-btn .title-botton{
     padding: 10px;
}
.btn.show{
     width: 100%;
     background-color: #D8B76F;
     color: #5E5C64;
     position: absolute;
     z-index: 1000;
}

@media (max-width:550px) {
     .carousel-control-next, .carousel-control-prev {
          top:5%;


     }
     .carousel-control-next{
          right:10px;

     }
     .carousel-control-prev
     {
          left:10px;
     }
     .img-slid {
          height: 345px;

     }
     .btn.show {
          width: 100% !important;

     }
     .col-vis{
          padding: 0px 5px;
     }
     .card-vision .card-body {
          position: static;
margin: 10px;

     }
     .img-vision {

height: 200px;
     }
     .col-link-s a {
          font-size: 20px !important;
      }
}
@media (max-width:768px){
     .content-slider-articles .owl-articles .owl-nav {
          left: 10% !important;
      }
      .item-services-slider {
position: relative;
padding-top: 30px;

      }
      .img-logo-slid {
          top: 14%;
          width: 128px;
    height: 255px;
    left:0px
      }

}
@media (max-width:1024px){
     .carousel-slider .carousel-caption h5 {
          font-size: 20px;
          line-height: 22px;
     }
     .item-services-slider{
          margin-top: 0px !important;
     }
     .col-link-s a{
          font-size: 11px !important;
     }
     [dir="ltr"] .col-link-s a{
          font-size: 10px !important;
     }
}
/*end-index*/
/*about*/
.p-size{
     font-size: 24px !important;
     color: #414042;
    font-weight: 400;
    line-height: 29px;
}
.img-balance{
     width: 100%;
     height: 63px;
     margin: auto;
}
.defintion-features{
     color: #414042;
     font-weight: 400;
     line-height: 49px;
     font-size: 20px;
}
.defintion-features h6{
     font-weight: bold;
     font-size: 22px;
}
.defintion-features ul li{
     list-style: "-";
    padding: 0px 15px;
}
.component-vision-about{
     background-color: #acadad26;
}
.p-visin{
     font-size: 21px;
}
.img-team-hadeer{
     position: relative;
}
.img-team-top{
     height: 222px;
}
#over-team{
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0px;
     background-color: #414042e6;
}
.img-logo-team{
     height: 200px;
     top: 10%;
     left: 5%;
     filter: grayscale(100%);
}
.defintion-hadeer-team{

     top:50%
}
.content-team{
     position: absolute;
    top: 0px;
    width: 100%;
}
.defintion-hadeer-team h6{
     color: #D8B76F;
     font-size: 35px;
     line-height: 50px;
     font-weight: bold;
     text-transform: capitalize;
}
.defintion-hadeer-team p{
     color: #FFFFFF;
     font-size: 25px;
     font-weight: bold;
     line-height: 25px;
     text-transform: capitalize;
}
.content-Managing-partner{
     background-color: #ACADAD11;
     border-radius: 24px;
     position: relative;
}
.team-item{
     width: 100%;
     height: 550px;
}
.defintion-team  h4{
color: #D8B76F;
font-weight: bold;
line-height: 40px;
font-size: 25px;
text-transform: capitalize;
}
.defintion-team h6{
color: #414042;
font-size: 20px;
line-height: 40px;
font-weight: bold;
}
.defintion-team  ul li{
     list-style-type: ' ★ ';
color: #414042;
font-weight: 400;
line-height: 35px;
font-size: 20px;
}
.defintion-team  ul li::marker {

color: #D8B76F;
}
.team-item-team{
     width: 40%;
     height: 169px;
     display: flex;
     margin: auto;
     position: relative;
}
.pe-img{
     position: relative;
}
.pe-img::after{
     border: 2px solid #414042;
     content: "";
     position: absolute;
     width: 25%;
     height: 5px;
     left: 37%;
     right: 37%;
     background-color: #414042;
}
.pe-team-lader::after{
     border: 2px solid #414042;
     content: "";
     position: absolute;
     height: 80%;
     width: 5px;
  top:10%;
  bottom: 10%;
     background-color: #414042;
}
.pe-team-lader,.component-team-item,.row-team{
     position: relative;
}
@media (max-width:550px) {
     .img-balance {
width: 70px;
     }
     .defintion-features {

          line-height: 40px;
          font-size: 16px;
      }
}
.item-compaion{
     border: 0px;
     background-color: transparent;
}

.table-top{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 28px;
}
 .table-top-table{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 20px;

}
@media (max-width:550px) {
     .table-top-table{
          grid-row-gap: 7px;
          grid-column-gap: 10px;
     }
}
.activ-link{

     grid-row: 1/ span 2;
     grid-column: 3;

}
@media (min-width:990px) {
     .current-img{
          width:550px;
     }
}
@media (max-width:768px) {
     .current-img{
          width:300px;
     }
}
@media (max-width:550px) {
     .current-img{
          width:200px;
     }
}
@media (max-width: 320px){
     .current-img {
          width: 165px;
      }
}

@media (max-width:990px) {
     .table-top{
          display: block;
     }
}
.table-top li{
     list-style:none;
}

.item-compaion{
     border: 1px solid #41404263;
     width: 100%;
     height: 100%;
     padding: 5px;
     text-transform: capitalize;
}
.item-compaion:hover,
.activ-link
{
     box-shadow: 0px 3px 15px #bbb5b5;
     height: 100% !important;
}
.table-top>div:nth-child(1),.activ-link{
     border: 1px solid #D8B76F;
}
.item-compaion:hover .title-tow-com,.activ-over .title-tow-com{
color: #d8b76f;
font-weight: bold;

}
.activ-link .title-tow-com{
     font-size: 25px;
}
.item-compaion:hover .title-onr,.activ-over .title-onr{
font-weight: 500;
font-size: 22px;
}
.item-compaion:hover .title-text-button,
.activ-over .title-text-button
{
font-weight: bold;
color: #414042;
}
.item-compaion:hover .title-text-button::first-letter,
.activ-over .title-text-button::first-letter{
/*color: #D8B76F !important;*/
font-size: 30px;
}
.table-top-table img{
     width: 100%;
     filter: grayscale(100%);
     height: 100%;

}
.col-button{
     width: 100%;
}
.text-button{
     color: #414042;
     font-size: 18px;
     font-weight: 400;
     line-height: 30px;
}
.title-text-button{
     color: #D8B76F;
     font-weight: bold;
     font-size: 22px;
}
@media (max-width:550px) {
     [dir="rtl"] .defintion-hadeer-team {
          padding-top: 20px;
      }
      [dir="ltr"] .defintion-hadeer-team {
          padding-top: 15px;
      }
     .defintion-hadeer-team h6 {

          font-size: 20px;
          line-height: 24px;
     }
     .img-logo-team{
          display: none;
     }
     .table-top {
          grid-template-columns: 1fr;
     }
     .defintion-hadeer-team p {
line-height: 23px;
font-size: 19px;
     }
     .defintion-team h4 {
font-size: 23px;
     }
     .team-item-team {
          width: 80%;
        height: 281px;
     }
     .col-roe-team{
          padding: 0px;
     }
     .team-item {

          height: 365px;
      }
      .img-team-top {
          height: 163px;
      }
      .table-top-table img{

          height: 100%;

     }
}
@media (min-width:550px)and (max-width:768px) {
     .team-item-team {
          width: 53%;
          height: 130px;

     }
}

.col-roe-team{
     position: relative;
}

/*end-about*/
/*Asking price*/
.content-img-header{
     position: relative;

}
.img-haeder{
     width: 100%;
     height: 252px;
}
#over{
     background-color: #00000094;
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0px;
}
.img-logo-hader{
     position: absolute;
     top:0px;
     bottom: 0px;
     z-index: 2;
     width: 100%;
}
.img-logo-hader img{
     width: 34%;
     height: 211px;
}
@media (max-width:550px) {
     .img-logo-hader img{
          width: 82%;
          margin: auto;
          height: auto;
     }
}
.content-form{
     background-color: #414042;
     position: relative;
     top: -39px;
}
.form-content-form .form-control{
     border: 0px;
     background-color: #f9fafb00;
     border-radius: 12px;
     box-shadow: inset 2px 2px 6px #383636, inset -2px -2px 6px #706f6f59;
     color: #fff;
}
.form-content-form .form-control::placeholder{
     color: #ACADAD;
     font-size: 12px;
     font-weight: bold;
     line-height: 20px;
}
.form-content-as  .form-control::placeholder{
     color: #ACADAD !important;
     font-size: 16px !important;
     font-weight: bold;
}
.btn-submit{
     color: #FFFFFF;
     background-color: #D8B76F;
     font-size: 16px;
     font-weight:bold ;
     line-height: 37px;
     text-transform: capitalize;
     padding: 4px 40px;
}
@media (max-width:550px) {
     .btn-submit{
          padding: 3px 30px;
          font-size: 15px;
          line-height: 34px;

     }

}
.btn-submit img{
     width: 18px;
     height: 18px;
}
.btn-submit:hover{
     background-color:#D8B76F ;
}
.img-file{

     width: 63px;
     height: 63px;
}
@media (max-width:550px) {
     .content-form{
          padding-top: 20px;
          padding-bottom: 20px;
     }
     .img-file{
top:2%
     }
}
/*Asking price*/
/*content-us*/
.contents-img{
     position: relative;
     background-color: #d8b76f;
}
#over-content{
     position: absolute;
     top:0px;
     width: 100%;
     height: 100%;
    background-image: url(../images/hadeer-content.png);
    background-repeat:no-repeat ;
    background-size: cover;
}
@media (max-width:768px){
     #over-content{
          background-image: url(../images/Splatter.png);


     }

}
.component-servers{
     position: relative;
}

.img-content{
     width:40px ;
     height: 35px;
}
.img-content-us{
     width: 45px;
     height: 45px;
}
.compoent-content-us{
background-color: #ACADAD09;
}
.contact-contente .content-box{
     color: #D8B76F;
     font-size: 20px;
     font-weight: 400;
}
@media  (max-width: 768px){
     .contact-contente .content-box{
font-size: 16px;

     }
}
.link-contentphon-us{
     background-color: #FFFFFF10;
}
.link-contentemail-us {
     background-color: #FFFFFF30;
}
.nav-tabs-content{
     border: 0px;

}
.nav-tabs-content .nav-link.active {
border-radius: 0px;
}
.nav-tabs-content .nav-link{
     border:1px solid #7070703d;
     border-radius: 0px;
     background-color: #F2F2F2;
     font-size: 16px;
     line-height: 18px;
     font-weight: 400;
     text-transform: capitalize;
     color: #8E8F8F;
}
.tap-content-content iframe{
     width: 100%;
     height: 382px;
}
/*end-content-us*/
/*recuitmen*/
.contents-imgeer{
     position: relative;
}
.img-jop{
     width: 95%;
    height: auto;
    margin: auto;
    display: flex;
}
@media (max-width:550px) {
     .img-jop {
          width: 70%;
          height: 167px;

     }
}
.img-jopee{

    width: 52px;
    height: 49px;
}
.custom-file{
     background-color: #00ff6d44 !important;
     padding: 0.75rem 1.75rem;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    width: 100%;

}
.custom-file-input {
     position: absolute;
     left: 0;
     top: 0;
     cursor: pointer;
     opacity: 0;
     z-index: 100;
 }
.custom-file img{
     display:inline-block;
     vertical-align:middle;
     margin-right:5px;
     width: 20px;
     height: 20px;
   }
   .file-list li{
     color: #fff;
   }

/*recuitmen*/
/*component-services*/
.component-services{
     background-color: #F9FAFA;
}
.title-defintion{
     color: #414042;
     font-size: 17px;
     font-weight: 800;
     line-height: 33px;
     text-transform: capitalize;
}
.ul-services li{
     list-style: decimal;
     color: #414042;
     font-size:15px ;
     font-weight:400 ;
     line-height: 21px;
     margin-bottom: 15px;

}
.ul-services li::marker{
color: #D8B76F;
}
.img-servies{
     justify-content: center;
     background-color: #D8B76F;
     border-radius: 10px;
     width: 93px;
     height: 93px;
     display: flex;
     margin: auto;
     align-items: center;
}
.defintion-defintion{
     display: grid;
     height: 100%;
     align-content: flex-start;
     grid-template-rows: 0.25fr 0.25fr 1fr;
}
.img-servies img{
     width: 57px;
     height: 57px;
}
.content-defintion{
     box-shadow: 0px 3px 10px #00000010;
     position: relative;
     overflow: hidden;
     background-color: #fff;
    height: 100%;
     transition: all .5s ease-in-out;
     padding-bottom:1.5rem;

 }


.link-asking a{
     background-color: #414042;
     border-radius: 7px;
     color:#D8B76F ;
     font-size: 15px;
     font-weight:bold ;
     line-height:28px ;
     text-transform:capitalize ;
     padding: 10px 15px;

}
.link-asking {
     transition: all .5s ease-in-out;
     position: absolute;
    width: 100%;
    display: flex;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    /* transform: translateY(19px); */
    justify-content: center;
    bottom: 0px;
 }

.content-defintion:hover .link-asking{
     display: block;
     /* transition: all .5s ease-in-out;  */

     /* position: absolute; */
    padding-top: 10px;
    opacity: 1;
    visibility: visible;
    /* transform: translateY(-27px); */
bottom: 20px;
 }
 .content-defintion:hover {
     transition: all 3s;

     max-height:fit-content;
     height: 111%;

 }
/****/

.content-defintion::before,
.content-defintion::after {
  width: 0%; height: 2px;
  background-color: #D8B76F;
  z-index: 2;
  transition: 0.8s;
  position: absolute;
  content: "";
}
.content-defintion::before {
  top: 0; left: 0;
}
.content-defintion::after {
  bottom: 0; right: 0;
}

.content-defintion:hover::before,
.content-defintion:hover::after {
  width: 100%;
  transition: 0.2s 0.2s ease-out;

}

 .spanc::before,
.spanc::after {
     width: 2px; height: 0%;
  background-color: #D8B76F;
  z-index: 2;
  transition: 0.8s;
  position: absolute;
  content: "";
  top:0px
}
.spanc::before {
 right: 0px;
 top:0px;

}
.spanc::after {
   left: 0px;
   bottom: 0px;

}
.content-defintion:hover .spanc::before,
.content-defintion:hover .spanc::after {
  height: 100%;
}
.col-serves{
     padding-bottom:5rem;
}
/*end-component-services*/
/*Blog----*/
.img-blog-date{
     position: relative;
     border-radius: 0px;
}
.img-blog-date::after{
     content: "";
     position: absolute;
     width: 19%;
     height: 5px;
     background-color: #D8B76F;

     bottom:-5px;
}
.card-blog .blog-img{
width: 100%;
height: 230px;
/*height: auto;*/
filter: grayscale(100%)
}
.card-blog{
     border: 0px;
}
.card-blog .card-body{
     border:1px solid #70707099;
     background-color: #fff;
}
.card-blog:hover{
     box-shadow:0px 10px 20px #00000011;
     border: 0px;
}
.card-blog:hover .card-body{
     border: 0px;
}
.date-time{
     position: absolute;
     top:30px;
     right: 30px;
     background-color: #fff;
     border: 1px solid #707070;
     text-align: center;
     color: #414042;
     padding: 8px;
     font-weight:300 ;
     line-height: 24px;
     font-size: 16px;
}
.card-blog:hover .date-time{
     background-color: #d8b76f;
}
.card-blog .card-body .title-card{
     color: #414042;
     font-weight: bold;
     line-height: 25px;
     text-transform: capitalize;
     font-size: 20px;

}
@media  (min-width:1000px) and (max-width:1024px) {
     .card-blog .card-body .title-card{
          height: calc(2* 1em);
          line-height: 27px;
     }

}
.card-blog:hover .title-card{
     color: #D8B76F;
}
.card-blog .card-body .title-p{
     color: #414042;
     font-size: 17px;
     font-weight: 300;
     line-height: 27px;
     margin-bottom: 0px;
     padding-top: 5px;
}
.img-hader-blog{
     height: 335px;
}
.img-blog-hader{
     top:5%
}
.pre-detiles{
     white-space: pre-line;
     word-break: keep-all;
     overflow: unset !important;
     font-size: 20px;
     color: #414042;
     font-weight:400 ;
     line-height: 35px;
}
[dir="rtl"] .pre-detiles{
     font-family: 'Tajawal', sans-serif;
}
[dir="ltr"] .pre-detiles{
     font-family: 'Tajawal', sans-serif;
}
.img-leder{
     width: 100px;
     height: 80px;
     border: 1px solid #707070;
     filter: grayscale(100%)
}
.title-leder{
     color: #414042;
     font-size: 20px;
     font-weight: bold;
     line-height: 20px;
     text-transform: capitalize;

}
.p-bosition{
     color: #D8B76F;
     line-height:29px ;
     font-weight: 300;
     text-transform: capitalize;
     font-size: 18px;
}
.time-blog-detalies{
     color: #D8B76F;
     font-weight: 500;
     font-size: 20px;
     line-height: 30px;
}
.time-blog-detalies span{
     display: block;
     color: #414042;
     font-size: 16px;
}
.owl-articles .owl-nav {
     margin-top: 10px;
     position: absolute;
     top: -24%;

     display: block !important;
 }
 .content-slider-articles .owl-articles .owl-nav {
     top: -17%;
 }
 .owl-articles .owl-nav button img{
     width: 46px;
height: 18px;
 }
  .owl-articles  .owl-nav button.owl-prev{
     padding: 20px !important;
 }

 .owl-articles .item .card-blog,.item {
     display: flex;
     height: 100%;
 }
 .title-p{
     line-height:1.45em !important;
    height: calc(4 * 1.45em);
    overflow: hidden
 }
.img-lader-blog{
     border-bottom: 1px solid #70707043;
}
/*end-blog--*/
.col-roe-team:after{
     content: "";
     width: 22px;
     height: 95px;
     background-color: #D8B76F;
     position: absolute;
     top: 15%;
     left: -10px;
}
.col-roe-team::before{
     content: "";
     width: 22px;
     height: 95px;
     background-color: #D8B76F;
     position: absolute;
     top: 15%;
     right: -10px;
}
.row-team .col-roe-team:nth-child(3)::before,
.row-team .col-roe-team:nth-child(4)::before
{
     content: "";
     width: 22px;
     height: 95px;
     background-color: #414042;
     position: absolute;
     top: 15%;
     right: -10px;
}
.row-team .col-roe-team:nth-child(3)::after,
.row-team .col-roe-team:nth-child(4)::after
{
     content: "";
     width: 22px;
     height: 95px;
     background-color: #414042;
     position: absolute;
     top: 15%;
     left: -10px;
}
/***/
/* Dropdown Button */
.back{
     position: absolute;
     width: 20%;
     /* background-color: #5e5c64; */
     border-radius: 36px 0px 0 0px;
 }
 @media  (max-width:990px) {
     .btn.show {
          width: 50%;

     }
     .back{

          width: 80%;

      }
 }
 @media (max-width:550px) {
     .back{

          width: 100%;

      }
 }
   /* The container <div> - needed to position the dropdown content */
   .dropdowne {
     position: relative;
     display: inline-block;
   }
   /* Dropdown Content (Hidden by Default) */
   .dropdown-content {
     display: none;
     position: absolute;
     z-index: 1;
   }
      .show {display:block;}
